*{
    margin: 0;
    padding: 0;
}
body,html{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
.left img{
    width: 55px;
    height: 33px;
}
.flex{
    display: flex;
}
.align-item{
    align-items: center;
}

.left ul li{
    list-style: none;
    padding-left: 20px;
    padding-right: 20px;
}
.right ul li{
    list-style: none;
    padding-left: 15px;
    padding-right: 15px; 
} 
.right input{
    width: 360px;
    height: 25px;
}
.space-between{
    justify-content: space-between;
}
input{
    min-width: 63px;
}
nav{
    width: 95%;
    justify-content: center;
    margin: auto;
    height: 10vh;
}
.space-evenly{
    justify-content: space-evenly;
}
header{
    width: 100%;
   
    background-color: rgb(202, 112, 202);
}

@media screen and (max-width: 1161px) {
   header{
    width: 100%;
    height:17vh;
    background-color: pink;
   }
   nav{
    padding-top: 10px;
    flex-direction: column;
   }
   .left{
    justify-content: space-between;
}
.right{
       justify-content: space-between;

   }
   
  }
